.item_page {
    min-width: 1000px;
    height: 100%;
    width: calc(100% - 260px);
    position: absolute;
    float: right;
    right: 0px;
    overflow-y: auto;
}

.header {
    font-size: 18px;
    width: 100%;
    color: #495057
}

.content {
    width: 100%;
    padding-top: 50px;
}

.inputpage {
    background: rgb(238, 238, 238);
    padding: 20px;
}

.content_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.flex_box {
    width: 24%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
    border-radius: 3px;
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex_box_line {
    margin-left: 20px !important;
    margin-right: 20px !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: thin 0 0;
}

.flex_box_logo {
    position: absolute;
    margin-top: -20px;
    padding: 0 16px;
    width: 100%;
}

.box_logo_card {
    width: 85px;
    height: 85px;
    padding: 15px !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_box_card {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.box_green {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.box_orange {
    background: linear-gradient(60deg, #ffa726, #fb8c00)!important;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(255, 152, 0, .2);
}

.box_red {
    background: linear-gradient(60deg, rgb(239, 83, 80), rgb(229, 57, 53))!important;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .2)!important;
}

.box_blue {
    background: linear-gradient(60deg, rgb(38, 198, 218), rgb(0, 172, 193))!important;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(0, 188, 212, .2)!important;
}

.flex_box_txt {
    display: flex;
    width: 100%;
    height: 85px;
    flex-direction: row-reverse;
}

.flex_box_hint {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #999;
    font-size: 12px;
    height: 30px;
}

.box_txt_div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    justify-content: center;
}

.txt_div_num {
    font-size: 22px;
}

.txt_div_title {
    color: #999;
    font-size: 14px
}

.logo_card_pic {
    width: 35px;
    height: 35px;
}

.box_hint_pic {
    width: 15px;
    height: 15px;
}

.table_box {
    width: 49%;
}

.task_box {
    width: 49%;
    height: 400px;
}

.table_box_title {
    line-height: 1.5em!important;
    letter-spacing: 0!important;
    font-size: 1.125rem!important;
    margin-bottom: 5px!important;
    color: #fff;
    font-weight: 300!important;
}

.table_box_date {
    color: hsla(0, 0%, 100%, .62);
    font-size: 14px;
}

.tablebox_body {
    width: 100%;
    flex-grow: 1;
    padding-top: 75px;
    padding-right: 20px;
    padding-left: 20px;
}

.mtop90 {
    margin-top: 90px;
}

.tablebox_title {
    display: flex;
    height: 50px;
    align-items: center;
    color: #ff9800!important;
    font-weight: 300!important;
    justify-content: space-between;
}

.tablebox_row {
    display: flex;
    height: 50px;
    align-items: center;
    color: rgba(0, 0, 0, .87);
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .06)!important;
    font-size: 14px;
    font-weight: 300;
}

.tablebox_row:hover {
    background: #f5f5f5!important;
    transition: background 0.9s cubic-bezier(.25, .8, .5, 1);
}

.tablebox_title_el {
    padding-left: 5px;
}

.title_el10 {
    width: 10%;
}

.title_el20 {
    width: 20%;
}

.title_el30 {
    width: 30%;
}

.title_el_end {
    display: flex;
    flex-direction: row-reverse;
}

.flex_box_title {
    display: flex;
    height: 100%;
    color: #fff;
    width: 75%;
    align-items: center
}

.flex_box_tabs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 450;
    font-size: 14px;
}

.flex_weight300 {
    font-weight: 300;
}

.flex_tabs_tag {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_tags_icon {
    width: 18px;
    height: 18px;
}

.flex_tag_center {
    display: flex;
    /* height: 100%; */
    justify-content: space-between;
    align-items: center;
    width: 65%;
}